doctype html
html(lang="en")
  head
    //- Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- TODO: Add favicon
    //- TODO: Add analytics
    //- TODO: Add error handling
    title real-estate-layout-tool

    //- https://getbootstrap.com/docs/4.1/getting-started/download/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")

    //- Based on: https://smile.amazon.com/Coding-Circle-Labels-Stickers-Assorted/dp/B08JMGWWZW/
    //-   https://images-na.ssl-images-amazon.com/images/I/41uthP1lLOL._AC_.jpg
    style.
      .category-1-bg { background-color: #0084ce; color: white; } /* Blue */
      .category-2-bg { background-color: #00b7f0; color: white; } /* Light blue */
      .category-3-bg { background-color: #bcc5e4; color: white; } /* Pastel blue */
      .category-4-bg { background-color: #f5ad03; color: white; } /* Orange */
      .category-5-bg { background-color: #e7222c; color: white; } /* Red */
      .category-6-bg { background-color: #35d0ac; color: white; } /* Light green */
      .category-7-bg { background-color: #07bb12; color: white; } /* Dark green */
      .category-8-bg { background-color: #fdf73f; color: black; } /* Yellow */
      .category-9-bg { background-color: #701d85; color: white; } /* Purple */
      .category-0-bg { background-color: #fd5fda; color: white; } /* Pink */

      .selected-image { border: 2px solid black; }
      .category-img::before { display: block; position: absolute; text-align: center; font-size: 12px; padding: 0 4px; }
      .category-1-img { border: 2px solid #0084ce; } /* Blue */
      .category-1-img::before { content: '1'; background-color: #0084ce; color: white; } /* Blue */
      .category-2-img { border: 2px solid #00b7f0; } /* Light blue */
      .category-2-img::before { content: '2'; background-color: #00b7f0; color: white; } /* Light blue */
      .category-3-img { border: 2px solid #bcc5e4; } /* Pastel blue */
      .category-3-img::before { content: '3'; background-color: #bcc5e4; color: white; } /* Pastel blue */
      .category-4-img { border: 2px solid #f5ad03; } /* Orange */
      .category-4-img::before { content: '4'; background-color: #f5ad03; color: white; } /* Orange */
      .category-5-img { border: 2px solid #e7222c; } /* Red */
      .category-5-img::before { content: '5'; background-color: #e7222c; color: white; } /* Red */
      .category-6-img { border: 2px solid #35d0ac; } /* Light green */
      .category-6-img::before { content: '6'; background-color: #35d0ac; color: white; } /* Light green */
      .category-7-img { border: 2px solid #07bb12; } /* Dark green */
      .category-7-img::before { content: '7'; background-color: #07bb12; color: white; } /* Dark green */
      .category-8-img { border: 2px solid #fdf73f; } /* Yellow */
      .category-8-img::before { content: '8'; background-color: #fdf73f; color: black; } /* Yellow */
      .category-9-img { border: 2px solid #701d85; } /* Purple */
      .category-9-img::before { content: '9'; background-color: #701d85; color: white; } /* Purple */
      .category-0-img { border: 2px solid #fd5fda; } /* Pink */
      .category-0-img::before { content: '0'; background-color: #fd5fda; color: white; } /* Pink */

    //- Hook for Parcel live reload
    script(src="main.js")
  body
    .container
      .row: .col-12
        h1 real-estate-layout-tool
        p We'll create a blueprint layout with grouped images, at up to 10 locations, in 3 steps
        //- ol
        //-   li Upload and categorize image with location
        //-   li Upload blueprint image from external tool
        //-   li Associate locations with blueprint image
        p
          .progress(style="height: 1.5rem;")
            .progress-bar(role="progressbar", style="width: 33%;") 1 - Categorize images
            //- TODO: Build better `.muted` for progressbar
            .progress-bar(role="progressbar", style="width: 33%; background-color: transparent; color: black; opacity: 40%") 2 - Upload blueprint
            .progress-bar(role="progressbar", style="width: 34%; background-color: transparent; color: black; opacity: 40%") 3 - Assocate blueprint
      .row: .col-12
        h3 Associate uploaded images with locations
      .row: .col-12
        .row.mb-3
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-1-bg 1
                input.form-control(type="text", value="Room 1", aria-label="Location name 1")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-2-bg 2
                input.form-control(type="text", value="Room 2", aria-label="Location name 2")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-3-bg 3
                input.form-control(type="text", value="Room 3", aria-label="Location name 3")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-4-bg 4
                input.form-control(type="text", value="Room 4", aria-label="Location name 4")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-5-bg 5
                input.form-control(type="text", value="Hallway", aria-label="Location name 5")
        .row.mb-3
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-6-bg 6
                input.form-control(type="text", value="Kitchen", aria-label="Location name 6")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-7-bg 7
                input.form-control(type="text", value="Bathroom", aria-label="Location name 7")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-8-bg 8
                input.form-control(type="text", value="", aria-label="Location name 8")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-9-bg 9
                input.form-control(type="text", value="", aria-label="Location name 9")
          .col-2
            .input-group
                .input-group-prepend: span.input-group-text.category-0-bg 0
                input.form-control(type="text", value="", aria-label="Location name 0")
      .row: .col-6
        div Type location number to categorize image
        p
          //- TODO: Allow pressing actual number part of "prepend" -- updated text would read "Type or press"
          //- TODO: Use dynamic image location
          img.img-fluid(src="big-photos/0.jpg", alt="Actively selected photo")

        p
          = "or "
          //- TODO: Bind button as well as shortcut
          button.btn skip to next image
          span.text-muted= " (shortcut: s)"
      .row
        //- TODO: Use dynamic numbering and image location
        each _, i in Array(44)
          .col-1.mb-1
            - let imgName = `big-photos/${i}.jpg`;
            //- TODO: Use dynamic numbering and categorization
            //- DEV: We use a `div` as `::before` doesn't seem to work great with `img`
            div(class={
              'selected-image': i === 0,

              'category-img': [3, 5, 7, 20].includes(i),
              'category-1-img': i === 3,
              'category-2-img': i === 5,
              'category-3-img': i === 7,
              'category-4-img': i === 20,
            })
              img.img-fluid(src=imgName, alt=`Photo ${i} thumbnail`)
      .row: .col-12
        .text-right
          p
            button.btn.btn-primary Continue
            br
            //- TOOD: Use dynamic image
            em.text-muted.small Uncategorized images (40) will be omitted
